body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}



.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  margin:auto;
  width: 100%; 
  }


  .card{
    width: 18rem;
  }

  .card-container{
   
    justify-content: center;
    padding: 2rem;
    padding-top:4rem;
    padding-bottom:4rem;

    width: auto;

  
  }